{% load static %}
<html>
    <head>
        <title>Sashka blog</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximu minm-scale=1.0,imum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ТРК "Барви Карпат"</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">Новини</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu_detail' %}">Паб "Рулька"</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kids_detail' %}">Дитячий розважальний центр "Чіп і Дейл"</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class = "datetime" >
        <h3>{% now "d E Y H:i" %}</h3>
    </div>




            {% block content %}

            {% endblock %}

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
    <br><br>
<footer class="container p-4 rounded bg-light">
      <div class="d-lg-flex justify-content-between">
        <div>
          <span><img src="{% static 'images/logo.png' %}" height="35" width="20"></span>
        </div>
        <div class="copyright">
          <p>developed and maintained by <a href="#" target="_blank">company</a></p>
        </div>
        <div>
          <ul class="d-flex gap-3 list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>

</html>