{% extends 'news/base.html' %}

{% block content %}

  <div class="top-menu">
{% if user.is_superuser %}
        <ul class="nav justify-content-end">
  <li class="nav-item editbutton2">
    <a class="btn btn-dark" aria-current="page" href="{% url 'kids_new' %}">New post</a>
  </li>
        </ul>
         {% endif %}
</div>

<div class="container">
<table class="table table-striped">
    <div class="thead">
        <tr>
            <th scope="col"><h2>Ціна</h2></th>
            <th scope="col"><h2>Назва</h2></th>
            <th scope="col"><h2>Фото</h2></th>
            {% if user.is_superuser %}
            <th scope="col"><h2>Редагування (Тільки для адміна)</h2></th>
            {% endif %}
        </tr>
    </div>
    <tbody>
    {% for menu in menu %}
    <tr>
        <td><h2>{{ menu.price }}</h2></td>
        <td><h2>{{menu.name}}</h2></td>
        <td>  <a
         data-fancybox="gallery"
         data-src="{{ menu.image.url }}"
         data-caption="{{menu.name}}"
         >
        <img src="{{ menu.image.url }}" , class="rounded", width="100%", height="100%" />
      </a></td>
        {% if user.is_superuser %}
            <td>
            <a class="btn btn-dark" href="{% url 'menu_edit' pk=menu.pk %}">Edit</span></a>
            <a class="btn btn-dark" href="{% url 'menu_delete' pk=menu.pk %}">Delete</span></a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>


{% endblock %}