{% extends 'news/base.html' %}

{% block content %}

  <div class="top-menu">
{% if user.is_superuser %}
        <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'kids_new' %}">+</a>
  </li>
        </ul>
         {% endif %}
</div>
<div class="container">
<div class ="row">
        <div class="col text-center">
            <h1>Ціна</h1>
        </div>
        <div class="col text-center">
            <h1>Назва</h1>
        </div>
    <div class="col text-center">
            <h1>Фото</h1>
        </div>
    </div>
    {% for menu in menu %}
<div class ="row text-center">
        <div class="col text-center">
            <h1> {{ menu.price }}</h1>
        </div>
        <div class="col text-center">
            <h1>{{menu.name}}</h1>
        </div>
     <div class="col text-center">
            <img src="{{ menu.image.url }}", width="200", height="200" , alt="{{ menu.name }}" >
        </div>
         {% if user.is_superuser %}
    <div class="editbutton">

                <a class="btn btn-dark" href="{% url 'kids_edit' pk=menu.pk %}">Edit</span></a>
                <a class="btn btn-dark" href="{% url 'kids_delete' pk=menu.pk %}">Delete</span></a>

    </div>
    {% endif %}
    </div>

    {% endfor %}
    </div>
{% endblock %}